<article class="card__product">
    <div class="card__product-image">
        <img src="{{ asset('img/products/' ~ product.imageFilename) }}" alt="{{ product.shortDescription }}">
    </div>
    <div class="card__product-info">
        <h3 class="card__product-info-title">{{ product.name }}</h3>
        <p class="card__product-info-description">{{ product.shortDescription }}</p>
        <p class="card__product-info-price">{{ product.price|number_format(2, ',', ' ') }}€</p>
        <a href="{{ path('app_product_show', { id: product.id }) }}" class="btn">
            <span class="link">Voir le produit</span>
        </a>
    </div>
</article>