{% extends 'base.html.twig' %}

 {% set bodyClass = 'page-pink' %}

{% block title %}{{ parent() }} - Panier{% endblock %}

{% block body %}

           {# ****************** PANIER ****************** #}
	<section class="cart container container--height">
        <div class="cart__wrapper">
            <h1 class="cart__title f-title-page-section">Mon panier</h1>
            
            {# Vider le panier #}
              {% if cart.items|length > 0 %}
            <button type="button" 
                    class="cart__clear f-text"
                    {{ stimulus_controller('cart', {
                        url: path('api_cart_clear')
                    }) }}
                    {{ stimulus_action('cart', 'trigger', 'click') }}>
                x Vider le panier
            </button>
            {% endif %}
            
            <div class="cart__item-wrapper">
                {% for item in cart.items %}
                    {% include "./_partials/_cart/_cart-item.html.twig" with { item: item } %}
                {% else %}
                    <p class="cart__empty">Votre panier est vide.</p>
                {% endfor %}
                <div class="cart__total">
                    <p class="cart__total-amount f-title-page-section">
                        Total panier: 
                        <span class="cart__total-price f-cart-total-item-price" 
                              data-cart-target="total" 
                              data-cart-total>
                            {{ cart.totalAmount|number_format(2, ',', ' ') }}€
                        </span>
                    </p>
                    <p class="cart__total-info f-text">Frais de livraison: Offert</p>
                </div>
            </div>
            
            {# Formulaire de validation (reste en POST classique) #}
            {% if cart.items|length > 0 %}
                <form class="form-cart-valid" method="POST" action="{{ path('app_cart_validate') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('app') }}">
                    <button type="submit" class="btn-secondary">
                        <span class="link">Valider la commande</span>
                    </button>
                </form>
            {% endif %}
        </div>

       
    </section>

{% endblock %}
