{% extends 'base.html.twig' %}

{% set bodyClass = 'page-pink' %}


{% block title %}
	{{ parent() }}
	- Mon compte
{% endblock %}

{% block body %}

	<section class="cart account container container--height">
		<div class="cart__wrapper">
			<h1 class=" cart__title f-title-page-section">
				Mon compte
			</h1>
			<div class="cart__item-wrapper">
				{% include "./_partials/_account/_user-info.html.twig" %}


				<div class="cart__item orders">
					<h5 class="orders__title f-title-item">Mes commandes</h5>

						<table class="orders__table">
							<thead class="orders__table-head">
								<tr>
									<th class="f-text">N°</th>
									<th class="f-text">Date</th>
									<th class="f-text">Prix</th>
								</tr>
							</thead>
							<tbody class="orders__table-body">
								{% for order in orders %}
									<tr class="orders__table-row">
										<td class="f-title-page-section  orders__table-cell orders__table-cell--number">
											{{ order.orderNumber }}
										</td>
										<td class="f-title-page-section orders__table-cell orders__table-cell--date">
											{{ order.createdAt|date('d/m/Y') }}
										</td>
										<td class="f-title-page-section orders__table-cell orders__table-cell--price">
											{{ order.totalAmount|number_format(2, ',', ' ') }}€
										</td>
									</tr>
								{% else %}
									<tr class="orders__table-row orders__table-row--empty">
										<td colspan="3" class="orders__table-cell orders__table-cell--empty">
											Aucune commande pour le moment
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
				</div>

                <div class="cart__item orders">
                    <h5 class="orders__title f-title-item">Mon accès API</h5>
                    <form class="form-cart-valid" method="post" action="{{ path('app_account_delete') }}">
                     <button type="submit" class="btn-secondary order-validate">
                        <span class="link">Activer mon accès API</span>
                    </button>
                    </form>

                </div>
                <div class="cart__item orders">
                    <form class="form-cart-valid" method="post" action="{{ path('app_account_delete') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete_account') }}">
                        <button type="submit" class="btn-secondary order-validate">
                            <span class="link">Supprimer mon compte</span>
                        </button>
                    </form>

                </div>

			</div>

		</div>
	</section>

{% endblock %}

{# 
 <a href="#" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')">
                                    <i class="fas fa-trash"></i> Supprimer mon compte
                                </a> #}
