{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Produit{% endblock %}

{% block body %}

            {# ****************** PRODUCTS LIST****************** #}
	<section class="product">
    <div class="product__container">
        <div class="product__image">
            <img src="{{ asset('img/products/' ~ product.imageFilename) }}" alt="{{ product.shortDescription }}" />
        </div>
        
        <div class="product__description">
            <div class="product__wrapper">
                <h2 class="product__title">{{ product.name }}</h2>
                <p class="product__price">{{ product.price|number_format(2, ',', ' ') }}€</p>
                <p class="product__subtitle">
                    {{ product.longDescription|replace({'.': '.<br><br>'})|raw }}
                </p>
                <a href="#" class="btn-secondary">
                    <span class="link">Ajouter au panier</span>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}