<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Green Goodies{% endblock %}</title>
        <link rel="icon" href="{{ asset('./img/favicon.png') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="{{ bodyClass ?? 'page-default' }}">


        <div {{stimulus_controller('notification')}}></div>

        {# passer de la session PHP à sessionStorage JS (HTTP) #}
        {#  use my notification stimulus system  #}
        {% if app.session.get('toast') %}
        <script>
            sessionStorage.setItem('toast', '{{ app.session.get('toast')|e('js') }}');
        </script>
        {% do app.session.remove('toast') %}
        {% endif %}

        {% if app.session.get('error') %}
        <script>
            sessionStorage.setItem('error', '{{ app.session.get('error')|trans({}, 'security')|e('js') }}');
        </script>
        {% do app.session.remove('error') %}
        {% endif %}


















        


        {% include "./_partials/_header.html.twig" %}
        <main class="container">
            {% block body %}{% endblock %}
        </main>
        {% include "./_partials/_footer.html.twig" %}
    </body>
</html>
{# templates/base.html.twig #}
